|<div class="container">
|    <hr>
|    <footer>
|        <div class="row">
|            <div class="col-lg-12">
|                <p>Copyright &copy; MongoMart 2018 - 2019</p>
|            </div>
|        </div>
|    </footer>
|</div>
|<script src="/static/js/jquery.js"></script>
|<script src="/static/js/bootstrap.min.js"></script>
