doctype html
title= title
|<link href="/static/css/bootstrap.min.css" rel="stylesheet">
|<link href="/static/css/shop-homepage.css" rel="stylesheet">
body
 include ./includes/navHome.jade
 div.container
  div.row
   div.col-md-12
    h4 Some error. go to home page
 include ./includes/footer.jade
