|<div class="container">
|    <hr>
|    <footer>
|        <div class="row">
|            <div class="col-lg-12">
|                <p>Copyright &copy; alm 2018 - 2019</p>
|            </div>
|        </div>
|    </footer>
|</div>
|<script src="/static/js/jquery.js" type="text/javascript"></script>
|<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
|<script src="/static/js/jquery.validate.min.js" type="text/javascript"></script>
|<script src="/static/js/utility.js" type="text/javascript"></script>
