doctype html
title= title
body
 form
  fieldset
   legend welcome
   |<br/><br/><br/>
   |Already a user ?
   a#signinid(href="/login")  Login
   |<br/><br/><br/><br/>
   |New User :
   a#signupid(href="/signup")  Register
