block lappform
  h5 Please fill in the required details
  hr
  div.row
   div.col-md-7
    form(action="/apply" method="post" id='appformid' data-toggle="validator")
     div#ltypename.form-group
     div.form-group
      label(for="fromdate") From:
      input(type="date" class="form-control" name="fromdate" id="fromdate")
     div.form-group
      label(for="todate") To:
      input(type="date" class="form-control" name="todate" id="todate")
     div.form-group
      label(for="reason") Reason:
      textarea(name="reason" id="reason" class="form-control" rows="3")
     div.form-group
      input(type="hidden" class="form-control" id="id" value="#{userid}")
     div.form-group
      input(type="hidden" class="form-control" id="ltypeval" value="")
     div.form-group
      input(type="hidden" class="form-control" id="lbalanceval" value="")
     button( type="submit" class="btn btn-primary") Submit
      span.glyphicon.glyphicon-chevron-right
